@{
    Layout = "_Layout";
}

<section class="mainText">
    <p class="title"> Salvar los océanos</p>
    <p class="title"> es salvar tu vida</p>
    <button type="button" class="btn btn-success btn-lg rounded-pill shadow "> Salvarme </button>
</section>
