@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <label>Puntos e info user</label>
        <label>Agregar tickect e historial</label>
        <label>Gana puntos y recompensas</label>
    </div>
</div>
