body {
      background-image:url(waveComplete.png);
      background-repeat: no-repeat;
      background-size: cover;
}
.rowt {
      height: 100px;
}  
.rowu {
      height: 40px;
} 

@media (max-width: 864px) {
      body {
            background-size: auto;
      }
      
}