body {
      background-image:url(../img/waveOcean.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      height: 800px;
      background-color: #055AFF;
}
.mainText {
      text-align: center;
      padding-top: 75px;
      height: 95vh;
}
.title {
      font-size: 80px;
      font-weight: bold;
      font-family: 'Varela Round', sans-serif;
      margin: -4px;
}
.description {
      font-size: 24px;
      color: #FFFFFF;
}
.card {
      background-color: rgba(0, 0, 0, 0);
      border: none;