body {
    background-image: url("/img/waveOcean.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 800px;
    background-color: #055AFF;
}

.mainText {
    text-align: center;
    padding-top: 75px;
    height: 95vh;
}

.title {
    font-size: 80px;
    font-weight: bold;
    margin: -4px;
}
