body {
    background-image:url(../img/waveOceanDown.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    /* height: 800px; */
    background-color: #055AFF;
    margin: 50px;
}
.imagen-fondo{
    width: 4em;
}

.formulario{
    border: 1px solid black;
    text-align: center;
    width: 35%;
    margin: 0 auto;
    padding: 10px;
}

.registro{
    margin: 20px;
    box-shadow: -2px -6px 39px rgba(0, 112, 255, 0.6);
}

.campo{
    margin: 10px 0;
}

.container{
    margin: 10px;
}

.row{
    margin-bottom: 5px;
}

.points{
    border-left: 1px solid black;
    background-color: rgb(0, 255, 0);
}